*.DS_Store*
*.replay
*__pycache__*
*.DS_Store*
*.replay
*__pycache__*

algos/*
!algos/starter-algo-ZIPME

dist/*
!dist/.gitkeep

*.zip
*/.idea/*

.vscode/*

scripts/test_algo_linux
scripts/test_algo_mac